@using TravelPro.Web.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">陶然居旅游后台管理</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
              
                <li class="layui-nav-item"><a href="/User/Index">用户管理</a></li>
                
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/UploadFiles/ycyy (2).jpg" class="layui-nav-img">
                        @{TravelPro.Web.Models.Admin info = Session["Admin"] as Admin;

                        if (info == null)
                        {
                            HttpContext.Current.Response.Redirect("");
                        }
                        else
                        {
                            <text> @info.Username</text>}
                        }
                    </a>
                    
                </li>
                <li class="layui-nav-item"><a href="/Login/Loginout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">管理菜单</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Menu/Index">菜单管理</a></dd>
                            <dd><a href="/TopBanner/Index">广告管理</a></dd>
                           
                            <dd><a href="/Scenery/Index">景点管理</a></dd>
                            <dd><a href="/Mation/Index">资讯管理</a></dd>
                            <dd><a href="/Food/Index">美食管理</a></dd>
                            
                        </dl>
                    </li>
                    
                    <li class="layui-nav-item"><a href="/QianDuan/Index">前端</a></li>
                    
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">

                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
 

</body>
</html>