@using TravelPro.Web.Models
@model  List<TopBanner>
<section class="banner_w3lspvt" id="home">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />
        <input type="radio" name="slides" id="slides_4" />
        <ul>
            @{
                foreach (var m in Model)
                {
                    <text>
                        <li>
                            <div class="banner-top" style="background-image:url(@m.ImgUrl)">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="w3layouts-banner-info">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </text>
                }
            }
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
        </div>
    </div>
</section>