@using TravelPro.Web.Models
    @model List<Menu>
    <div class="container">
        <nav class="py-md-4 py-3 d-lg-flex">
            <div id="logo">
                <h1 class="mt-md-0 mt-2"><a href="index.html"><span class="fa fa-map-signs"></span>境外旅游</a></h1>
            </div>
            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu ml-auto mt-1">
                @{
                    foreach (var m in Model)
                    {
                        var url = m.MenuUrl + "/" + m.ID;
                        <text>
                            <li class="active"><a href="@url">@m.MenuName</a></li>
                        </text>
                    }
                }
            </ul>
        </nav>
    </div>